name: .NET Multi-Version CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        dotnet: [ '6.0.x', '8.0.x', '10.0.x' ]

    name: Build & Test on .NET ${{ matrix.dotnet }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET SDK ${{ matrix.dotnet }}
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ matrix.dotnet }}

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test  tests/StreamIt.Tests/StreamIt.Tests.csproj -c Release --no-build --verbosity normal
